@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    width: 100%;
    background-color: #F0FFF0;
}

.container {
    background: url(kas-foto-1.jpg);
    height: 95vh;
    background-size: 100% 100%;
    border: 0px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
}


.navbar {
    width: 100%;
    height: 80px;
    border: 0px;
    border-radius: 20px 20px 0px 0px;
}
.navbar ul {
        margin-left: 50px;
        align-items: center;
    }

 .navbar ul li {
       list-style: none;
       display: inline-block;
       margin: 0 20px;
       line-height: 80px;
 }

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 13px;
  font-family: Roboto;
 }

 .navbar ul li a.active,
 .navbar ul li a:hover {
     background: #ff6e00;
     border-radius: 2px;
 }


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 20px 20px 20px 20px;
    background-color: #AFEEEE;
    margin: 20px;
    padding: 20px;
    width: 85%;
    opacity: 0.9;
}

#egitim {
    margin: 20px;
    padding: 20px;
   
}


.hakkımda {
    margin-top: 29%;
    padding: 10px;
}
